@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

.wrapper {
  @apply container mx-auto max-w-[1208px];
}

@theme{
  --color-primary: #EAE5D4;
  --color-primary-100: #474640;
  --color-primary-200: #C2C1BF;
  --color-primary-300: #C2C1BF;
  --color-primary-400: #C2C1BF;
  --color-secondary: #F2C40B;
  --font-family: "Roboto", serif;
  }